version: "3.7"

services:
  docs:
    build:
      context: docs
      dockerfile: Dockerfile
      target: base
    command: mkdocs serve -a 0.0.0.0:8000
    working_dir: /app
    ports:
      - 8000:8000
    volumes:
      - ./:/app
